<div class="container">
  <h3 style="margin: 1rem;">SpaceX Launch Programs</h3>
  <div class="row">
    <div class="col-md-2 filter-card">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Filters</h5>
          </mdb-card-title>
          <div class="filter-header">Launch years</div>
          <div class="row" *ngFor='let index of years; let i = index; let even = even'>
            <span *ngIf="even" style="margin:auto">
              <button type="button" class="btn yr-btn" (click)="switchYear(years[i]); select(i)" [ngClass]="{active: isActive(i)}">{{years[i]}}</button>
              <button type="button" class="btn yr-btn" (click)="switchYear(years[i+1]); select(i+1)" [ngClass]="{active: isActive(i+1)}" *ngIf='years[i+1]'>{{years[i+1]}}</button>
            </span>
          </div>
          <div class="filter-header">Successful Launch</div>
          <div class="row">
            <span style="margin:auto">
              <button *ngFor="let button of launchButtons" class="btn filter-btn" [ngClass]="(selectedLaunchButton == button) ? 'active' : ''" (click)="toggleSelect(button, 'launch', button.name)">
                {{button.name}}
              </button>
            </span>
          </div>
          <div class="filter-header">Successful Landing</div>
          <div class="row">
            <span  style="margin:auto">
              <button *ngFor="let lbutton of landButtons" class="btn filter-btn" [disabled]="!isLaunched" [ngClass]="(selectedLandButton == lbutton) ? 'active' : ''" (click)="toggleSelect(lbutton, 'land', lbutton.name)">
                {{lbutton.name}}
              </button>
            </span>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="spinner-border text-primary loading-gif" role="status" *ngIf="isLoading else loaded">
      <span class="sr-only">Loading...</span>
    </div>
    <ng-template #loaded>
      <div class="col-md-10 launch-columns">
        <div class="row" *ngIf="launches?.length>0 else nothing">
            <div class="col-md-3 mx-auto my-5 launch-tile d-flex align-items-stretch" style="margin-top: 0!important;" *ngFor="let launch of launches">
              <mdb-card>
                <mdb-card-img [src]="launch.links.mission_patch" class="card_img" alt="Card image cap">
                </mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h5>{{launch.mission_name}} #{{launch.flight_number}}</h5>
                  </mdb-card-title>

                  <mdb-card-text>
                    <b>Mission Ids:</b><div *ngIf="launch.mission_id?.length>0 else nomissioniddata"><div *ngFor="let id of launch.mission_id">{{id}}</div></div><ng-template #nomissioniddata><div>No data</div></ng-template>
                  </mdb-card-text>
                  <mdb-card-text>
                    <b>Launch Year:</b>{{launch.launch_year}}
                  </mdb-card-text>
                  <mdb-card-text>
                    <b>Successful Launch:</b>{{launch.launch_success}}
                  </mdb-card-text>
                  <mdb-card-text>
                    <b>Successful Land:</b>{{launch.rocket.first_stage.cores[0].land_success}}
                  </mdb-card-text>
                </mdb-card-body>
              </mdb-card>
            </div>
        </div>
        <ng-template #nothing>
          <div style="width: 100%; text-align: center;">No Items to display</div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>